    <div class="trust-bar">
      <div class="trust-items">
        <div class="trust-item">
          <i class="fas fa-shield-alt"></i>
          <span>Licensed & Insured</span>
        </div>
        <div class="trust-item">
          <i class="fas fa-award"></i>
          <span>5-Year Warranty</span>
        </div>
        <div class="trust-item">
          <i class="fas fa-clock"></i>
          <span>24/7 Response</span>
        </div>
        <div class="trust-item">
          <i class="fas fa-star"></i>
          <span>Local Experts</span>
        </div>
      </div>
    </div>

