---
layout: layouts/base.njk
---
<article class="post">
  <header>
    <h1>{{ title }}</h1>
    {% if date %}<p><small>{{ date | date("MMMM d, yyyy") }}</small></p>{% endif %}
  </header>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>

